body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
   
}

/*Style encabezado*/

.header {
    background-color: black;
    color: white;

}

.navbar {
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    padding: 10px 5px 10px 15px;
}

.navbar > .first-column img {
    width: 180px;
}

.navbar > .second-column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    

}

.second-column > .explore {
    color: #ffdd40;
}

.second-column > .explore p {
    margin: unset;
}

.second-column > .links-wrapper {
    display: flex;
    justify-content: space-between;
    width: 350px;
    font-family: "Lato", sans-serif;
}

.second-column > .links-wrapper > .nav-link a {
    text-decoration: none;
    color: white;
    font-weight: 1000;
}

.second-column > .links-wrapper > .spark a {
    text-decoration: none;
    color: #c5c8d4;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.navbar > .third-column {
    display: flex;
    
}

.third-column {
    justify-content: right;
    align-items: center;
    
    width: 300px;
}

.third-column a {
    text-decoration: none;
    color: white;
    padding: 12px;
    background-color:hsl(228deg 12.2% 40.2%);
    border-radius: 3px;
    font-weight: 800;
}

.third-column i {
    color: hsl(139.41deg 58.62% 54.51%);
    font-size: 15px;
    font-weight: bolder;
    padding: 5px;
}

.fourth-column {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    
}

.fourth-column > .icon-lupa i {
    font-size: 1.9em;
    color: hsl(226.15deg 12.04% 57.65%);
    margin-top: 5px;
}
    
.fourth-column > .auth-buttons {
    display: flex;
    gap: 10px;
}

.fourth-column > .auth-buttons > .login, .sign {
    background-color: hsl(228deg 12.2% 40.2%);
    color: white;
    border-radius: 3px;
    font-weight: 600;
    padding: 14px;
}

/*Style cuerpo*/

