body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
   
}

/*Style encabezado*/

.header {
    background-color: black;
    color: white;

}

.navbar {
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    padding: 10px 5px 10px 15px;
    justify-content: space-between;

}

.navbar > .first-column img {
    width: 180px;
}

.navbar > .second-column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.second-column > .explore {
    color: #ffdd40;
}

.second-column > .explore p {
    margin: unset;
}

.second-column > .links-wrapper {
    display: flex;
    justify-content: space-between;
    width: 350px;
    font-family: "Lato", sans-serif;
}

.second-column > .links-wrapper > .nav-link a {
    text-decoration: none;
    color: white;
    font-weight: 1000;
}

.second-column > .links-wrapper > .spark a {
    text-decoration: none;
    color: #c5c8d4;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.navbar > .third-column {
    display: flex;
    
}

.third-column {
    justify-content: right;
    align-items: center;
    width: 300px;
}

.third-column a {
    text-decoration: none;
    color: white;
    padding: 12px;
    background-color:hsl(228deg 12.2% 40.2%);
    border-radius: 3px;
    font-weight: 800;
}

.third-column i {
    color: hsl(139.41deg 58.62% 54.51%);
    font-size: 15px;
    font-weight: bolder;
    padding: 5px;
}

.fourth-column {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    
}

.fourth-column > .icon-lupa i {
    font-size: 1.9em;
    color: hsl(226.15deg 12.04% 57.65%);
    margin-top: 5px;
}
    
.fourth-column > .auth-buttons {
    display: flex;
    gap: 10px;
}

.fourth-column > .auth-buttons > .login, .sign {
    background-color: hsl(228deg 12.2% 40.2%);
    color: white;
    border-radius: 3px;
    font-weight: 600;
    padding: 14px;
}

/*Style cuerpo*/

.main-content {
    
    background: radial-gradient(
      circle at 20% 0%,            
      rgba(255, 255, 255, 0.397),    
      rgba(0, 0, 0, 0) 40%
    ),
    linear-gradient(
      to bottom,
      #2b2b2b,
      #252629,
      #353535
    );
    background-attachment: fixed;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 2rem;
    font-family:"Lato", sans-serif;

}

.hero-left {
    flex: 0 0 50%;
    color: #c5c8d4;

}

.hero-left h1 {
    color: #c5c8d4;
    font-weight: 300;
    font-size: 2.5rem;
    

}

.hero-left h1 strong {
    color: rgb(217, 220, 220);
    font-weight: 700;
}
.hero-left h3 {
    color: #b7b9c0;
    font-weight: 300;
    font-size: 1.7rem;
}

.hero-left > .btns {
    display: flex;
    gap: 1rem;       
    width: 80%;
    margin-top: 1rem;
}

.btns span {
    flex: 1;  
    text-align: center;
    padding: 12px;
    font-weight: 600;
    border-radius: 3px;
}

.btns > .green-btn {
    background-color: hsl(141.07deg 57.21% 55.1%);
    color: black;
}

.btns > .black-btn {
    background-color: black;
    color: white;
}

.hero-right {
    flex: 0 0 50%;
    color: white;
} 

span.resaltado {
    color: hsl(195.93deg 93.1% 65.88%);;
}

.hero-right img {
    width: 100%;
    height: auto;
    display: block;
    margin-right: 0px;
}

/*Footer*/

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color:hsl(226.67deg 7.69% 22.94%);
    padding: 22px;
    width: 100%;
}

.footer-content a {
    color: white;
    text-decoration: none;
    
    font-family: "Lato", sans-serif;
}